*{
  max-width: 100% !important;
}
body {
  color: #333;
  font-family: 'Noto Sans', serif;
}
a {
  text-decoration: none;
  color: white;
}
.container{
  width: 71%;
  margin: 0 auto;
}
.container h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
}
hr{
  width: 26%;
  border-top: 3px solid #999;
}
section{
  min-height: 350px;
}
.clear {
  clear: both;
}

/*--Navigasi--*/
.navigasi {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.nav {
  padding: 25px 0;
  transition: .8s;
}
.nav_bc {
  background-color: #00bfc1;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.nav_2 {
  width: 50%;
  float: left;
}
.nav_2 a h1 {
  display: inline;
  font-size: 1.2em;
  margin-left: 15px;
}
.nav_menu ul {
  float: right;
}
.nav_menu ul li {
  float: left;
  text-align: center;
  padding: 0 10px;
}
.nav_menu ul li a {
  font-size: .9em;
}
.nav_2 a h1,
.nav_menu ul li a {
  opacity: .6;
  transition: .3s;
}
.nav_2 a:hover h1,
.nav_menu ul li a:hover {
  opacity: 1;
}
/*toggle menu*/
#menu_text {
  display: none;
  color: white;
  font-size: 20px;
}
#home_mini {
  display: none;
}
#nav_icon{
  display: none;
  cursor: pointer;
}
/*end toggle menu*/

/*--end--*/


/*--jumbotron--*/

.jumbotron {
  padding: 100px 0;
  text-align: center;
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #eaeaea;
  overflow: hidden;
}
.jumbotron img{
  width: 200px;
  border-radius: 50%;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
.jumbotron h1 {
  font-size: 60px;
  margin: 15px 0;
}
.jumbotron p {
  font-size: 20px;
}
.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
/*--end--*/


/*--About--*/
.about {
  padding: 30px 0 50px 0;
}
.col_2{
  float: left;
  width: 46%;
  margin: 0 1.5%;
  margin-top: 3%;
}
.col_2 span {
  font-size: .9em;
  line-height: 1.4em;
}
/*--end--*/

/*--Portfolio--*/
.portfolio{
  background-color: #f5f5f5;
  padding: 30px 0 50px 0;
}
.portfolio .container {
  padding-left: 1px;
}
/*paralax*/
.portfolio .col_3_folio {
  opacity: 0;
  transform: translate(0,-40px);
  transition: .5s;
}
.portfolio .open {
  opacity: 1;
  transform: translate(0,0);
}
/*end*/
.col_3_folio_center{
  margin: 0 2.9%;
}
.col_3_folio {
  width: 31%;
  float: left;
  margin-top: 15px;
}
.list_img img {
  width: 97.5%;
  border: 5px solid white;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(103, 103, 103,.1);
  transition: .3s;
}
.col_3_folio a:hover img {
  box-shadow: 0 0 0 1px rgba(103, 103, 103,.5);
}
/*--end--*/

/*--Client--*/

.client {
  background: linear-gradient(to right,rgba(0,191,193,.9),rgba(0,192,169,.9));
}
.client .container {
  padding: 100px 0;
}
.col_3 {
  width: 31%;
  float: left;
  text-align: center;
}
.col_3_center {
  margin: 0 3%;
}
.menu_client,
.menu_client a {
  display: block;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  transition: .3s;
}
.menu_client {
  background-color: rgb(250, 250, 250);
  margin: 0 auto 20px auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(54, 54, 54, .5);
}
.menu_client:hover a{
  background-color: rgba(0, 0, 0, .1);
}
.menu_client img {
  width: 100px;
  padding-top: 15px;
}
.col_3 .jml {
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 1px rgba(54, 54, 54, .3);
}
.col_3 .judul {
  font-size: 20px;
  color: rgba(255, 255, 255, .8);
}
/*--end--*/

/*--Contact--*/
.contact {
  padding: 30px 0;
}
.contact .col_2 {
  margin-top: 40px;
}
.contact input,
.contact textarea {
  width: 97%;
  height: 30px;
  padding-left: 5px;
  margin-bottom: 12px;
  border: 2px solid rgba(0,191,193,.9);
  outline-color: rgba(0,191,193,.9);
}
.contact textarea {
  height: 130px;
}
input[type="submit"]{
  width: 100%;
  color: white;
  background-color:rgb(0,191,193);
  transition: .3s;
}
input[type="submit"]:hover{
  background-color:rgba(0,191,193,.7);
  cursor: pointer;
}
.contact iframe {
  max-width: 450px;
  height: 250px;
  box-shadow: 1px 1px 5px rgba(113, 113, 113,.7);
}
/*end*/

/*--Footer--*/
#footer {
  background-color: rgb(0,191,193);
  color: white;
  text-align: center;
  padding: 15px 0;
}
/*end*/


/*------------------------
/*-------RESPONSIVE-------
/*------------------------*/

@media only screen and (max-width:1024px){
  .container {
    width: 90%;
  }
}

@media only screen and (max-width:768px){
  .client {
    min-height: auto;
  }
  .client .container {
    padding: 50px 0;
  }
  .container {
    width: 95%;
  }
}



@media only screen and (max-width:480px){
  .container {
    width: 95%;
  }
  .nav {
    position: relative;
  }
  #nav_icon{
    display: block;
    position: absolute;
    top: 25px;
    right: 15px;
  }
  .nav_2,
  .nav_menu ul,
  .nav_menu ul li{
    width: 95%;
    float: none;
    margin: 0 auto;
  }
  .nav_menu ul li a {
    display: block;
    padding: 15px 0;
    font-size: 1em;
    opacity: 1;
    border-bottom: 1px solid white;
  }
  .col_3_folio,.col_2 {
    width: 90%;
    margin: 10px auto;
    float: none;
  }
  .col_3 {
    width: 90%;
    float: none;
    margin: 0 auto;
    padding: 50px 0;
  }
  .nav_2 a h1 {
    display: none;
  }
  #home_mini {
    display: block;
    font-size: 1em;
  }
  #menu_text {
    display: block;
    padding-left:15px;
  }
  .nav_menu{
    height: 0;
    overflow: hidden;
    transform: translate(0,-300px);
    transition: .8s;
  }
  .menu_open {
    height: 100% !important;
    transform: translate(0,0);
  }

}
